APP_ENV=prod
DATETIME_FORMAT="D, d M Y H:i:s P"
PAGE_LEGAL_LABEL="Legal/Imprint"
PAGE_LEGAL_TEXT="<p>John Doe</p><p>Any Street<br>Any City<br>Any State 12345</p><p>mail@example.com</p>"
UPDOWNIO_API_KEY=??-????????????????????
