APP_ENV=prod
APP_TITLE="Foo · Status Page"
DATETIME_FORMAT="D, d M Y H:i:s P"
ERROR_DISPLAY_DETAILS=false
PAGE_LEGAL_LABEL="Legal/Imprint"
TELEMETRY_ENABLED=false
UPDOWNIO_API_KEY=??-????????????????????
UPDOWNIO_API_TIMEOUT=10
