{parameters
    $enabled = true,
    $displayHeading = true,
}

<section n:if="$enabled" class="mt-5">
    <h2 class={['text-secondary', 'd-none' => !$displayHeading]}>{block section-heading}{/block}</h2>
    <div class="container-fluid g-0 mt-3">
        <div class="row g-2">
            {block section-content}{/block}
        </div>
    </div>
</section>
