{extends '../Layout/Base.latte'}
{parameters DlangAT\StatusPage\Model\Check[] $checks}
{var $navGroup = 'checks'}
{var $title = 'Checks'}

{block main}
    <div class="table-responsive">
        {embed '../Components/ChecksTable.latte', checks: $checks}{/embed}
    </div>
{/block}
