{extends '../Layout/Base.latte'}
{parameters
    DlangAT\StatusPage\Model\Check[] $checksAlert,
    DlangAT\StatusPage\Model\Check[] $checksUp,
    DlangAT\StatusPage\Model\Dashboard $dashboard,
    DlangAT\StatusPage\Model\UserSettings $userSettings,
}
{var $navGroup = 'dashboard'}
{var $title = $dashboard->title}
{var $customHead = ($dashboard->style === null) ? null :  "<style>{$dashboard->style}</style>"}
{var int $alertCount = count($checksAlert)}
{var bool $gridView = $userSettings->getDashboardViewMode() === DlangAT\StatusPage\Model\DashboardViewMode::Grid}

{block main}
    {if ($dashboard !== null) && !empty($dashboard->description)}
        <div class="text-center bg-body-tertiary border rounded-3 mb-4 p-4">
            {$dashboard->description | noescape}
        </div>
    {/if}

    <div class="d-flex justify-content-end mb-2" role="group">
        <form class="btn-group btn-group-sm" method="post">
            <button class="{[btn, btn-outline-primary, active => $gridView]}" type="submit">Grid</button>
            <input type="hidden" name="dashboard-view-mode" value="grid">
        </form>
        <form class="btn-group btn-group-sm" method="post">
            <input type="hidden" name="dashboard-view-mode" value="list">
            <button class="{[btn, btn-outline-primary, active => !$gridView]}" type="submit">List</button>
        </form>
    </div>

    {embed
        '../Components/DashboardEntries.latte',
        checksAlert: $checksAlert,
        checksUp: $checksUp,
        gridView: $gridView,
    }
    {/embed}

    {if !$dashboard->hideSummary}
        {if $alertCount > 0}
            <div class="alert alert-danger">
                {$alertCount}
            {if $alertCount === 1}
                    service is
                {else}
                    services are
                {/if}
                impacted.
            </div>
        {else}
            <div class="alert alert-success">
                All services are up.
            </div>
        {/if}
    {/if}
{/block}
