{extends '../Layout/Base.latte'}
{parameters
    DlangAT\StatusPage\Model\Check $check,
    DlangAT\StatusPage\Model\Downtime[] $downtimes,
}
{var $navGroup = 'checks'}
{var $title = 'Downtimes · ' . $check->getTitle()}

{block main}
    <div class="table-responsive">
        {embed '../Components/DowntimesTable.latte', downtimes: $downtimes}{/embed}
    </div>
{/block}
