{parameters
    DlangAT\StatusPage\Model\Check[] $checksAlert,
    DlangAT\StatusPage\Model\Check[] $checksUp,
    bool $gridView = true,
}
<section>
    <h2 class="visually-hidden">Services</h2>
    <section n:if="count($checksAlert) > 0">
        <h3 class="visually-hidden">Alerts</h3>
        <div class="container-fluid g-0">
            <ul class="{['row list-unstyled g-2' => $gridView, 'list-group mb-3' => !$gridView]}">
                {foreach $checksAlert as $check}
                    {embed 'DashboardEntry.latte', check: $check, gridView: $gridView}{/embed}
                {/foreach}
            </ul>
        </div>
    </section>
    <section>
        <h3 class="visually-hidden">Up</h3>
        <div class="container-fluid g-0">
            <ul class="{['row list-unstyled g-2' => $gridView, 'list-group mb-3' => !$gridView]}">
                {foreach $checksUp as $check}
                    {embed 'DashboardEntry.latte', check: $check, gridView: $gridView}{/embed}
                {/foreach}
            </ul>
        </div>
    </section>
</section>
