{parameters $title = 'Untitled'}
<!DOCTYPE html>
<html lang="en">
{include 'Head.latte'}
<body>
<main class="container-xxl py-2 py-md-4">
    <h1>{$title}</h1>
    {block main}{/block}
</main>
<footer class="bg-dark text-bg-dark">
    <div class="container-xxl">
        <p>Server time: {(new \DateTimeImmutable()) | formatDateTime}</p>
    </div>
</footer>
{include 'Nav.latte'}
<script src="/assets/bootstrap.min.js"></script>
</body>
</html>
