<footer class="bg-dark text-bg-dark mt-auto">
    <div class="container-xxl d-flex align-items-center justify-content-end">
        <h2 class="visually-hidden">Page generated at</h2>
        <div class="font-monospace py-2" title="Access time">{(new \DateTimeImmutable()) | formatDateTime}</div>
    </div>
</footer>
