<footer class="bg-dark text-bg-dark mt-auto">
    <div class="container-xxl d-flex align-items-center justify-content-end">
        <div class="py-2" title="Access time">{(new \DateTimeImmutable()) | formatDateTime}</div>
    </div>
</footer>
