{parameters $title}
<head>
    <title>{$title} – Status Page · D Programming Language</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/icon.svg"/>
    <link rel="stylesheet" href="/assets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/app.css"/>
</head>
